In [16]:
#### tituloooo

# CÃ³digo para mostrar el codigo. La fuente es la siguiente: https://stackoverflow.com/questions/27934885/how-to-hide-code-from-cells-in-ipython-notebook-visualized-with-nbviewer


import ipywidgets as widgets
from IPython.display import display, HTML

javascript_functions = {False: "hide()", True: "show()"}
button_descriptions  = {False: "Show code", True: "Hide code"}


def toggle_code(state):

    """
    Toggles the JavaScript show()/hide() function on the div.input element.
    """

    output_string = "<script>$(\"div.input\").{}</script>"
    output_args   = (javascript_functions[state],)
    output        = output_string.format(*output_args)

    display(HTML(output))


def button_action(value):

    """
    Calls the toggle_code function and updates the button description.
    """

    state = value.new

    toggle_code(state)

    value.owner.description = button_descriptions[state]


state = False
toggle_code(state)

button = widgets.ToggleButton(state, description = button_descriptions[state])
button.observe(button_action, "value")

display(button)

ToggleButton(value=False, description='Show code')

In [3]:
# Cargamos los paquetes necesarios 

import pandas as pd

In [4]:
# Abrimos la base de datos 

df = pd.read_csv('tarea.csv', sep=',')

In [5]:
# Punto 1

pd.read_csv('tarea.csv', sep=',').head(5)

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [14]:
# Punto 2

pd.read_csv('tarea.csv', sep=',').head(3)

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31

In [53]:
# Punto 3 

s = df.color
s

0        E
1        E
2        E
3        I
4        J
        ..
53935    D
53936    D
53937    D
53938    H
53939    D
Name: color, Length: 53940, dtype: object

In [54]:
# Punto 4 

s2 = df[["color", "clarity"]]

s2

      color clarity
0         E     SI2
1         E     SI1
2         E     VS1
3         I     VS2
4         J     SI2
...     ...     ...
53935     D     SI1
53936     D     SI1
53937     D     SI1
53938     H     SI2
53939     D     SI2

[53940 rows x 2 columns]

In [58]:
# Punto 5 

# Primero vemos la cantidad de filas y columnas 

df.shape

(53940, 10)

In [61]:
# Luego vemos el tipo de dato de cada columna 

df.dtypes

carat      float64
cut         object
color       object
clarity     object
depth      float64
table      float64
price        int64
x          float64
y          float64
z          float64
dtype: object

In [35]:
# Punto 6 

df.describe(include=['object'])

,carat,depth,table,x,y,z
count,53940.000000,53940.000000,53940.000000,53940.000000,53939.000000,53940.000000
mean,0.797940,61.749405,57.457184,5.731157,5.734559,3.538734
std,0.474011,1.432621,2.234491,1.121761,1.142120,0.705699
min,0.200000,43.000000,43.000000,0.000000,0.000000,0.000000
25%,0.400000,61.000000,56.000000,4.710000,4.720000,2.910000
50%,0.700000,61.800000,57.000000,5.700000,5.710000,3.530000
75%,1.040000,62.500000,59.000000,6.540000,6.540000,4.040000
max,5.010000,79.000000,95.000000,10.740000,58.900000,31.800000

In [67]:
# Punto 7

print(df)

dfn = df.rename(columns={'depth':'profundidad', 'price':'precio'})

print(dfn)

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]
       carat        cut color clarity  profundidad  table  precio     x     y  \
0       0.23      Ideal     E     SI2         61.5   55.0     326  3.95  3.98
1       0.21    Premium     E     SI1         59.8   61.0     326  3.89  3.84
2       0.23       Good     E     VS1         56.9   65.0     327  4.05  4.07
3       0.29    Premium     I     VS2         62.4   58.0     334  4.20  4.23
4       0.31       Good     J     SI2         63.3   58.0     335  4.34  4.35
...      ...        ...   ...     ...          ...    ...     ...   ...   ...
53935   0.72      Ideal     D     SI1         60.8   57.0    2757  5.75  5.76
53936   0.72       Good     D     SI1         63.1   55.0    2757  5.69  5.75
53937   0.70  Very Good     D     SI1         62.8   60.0    2757  5.66  5.68
53938   0.86    Premium     H     SI2         61.0   58.0    2757  6.15  6.12
53939   0.75      Ideal     D     SI2         62.2   55.0    2757  5.83  5.87

          z
0      2.43
1      2.31
2      2.31
3      2.63
4      2.75
...     ...
53935  3.50
53936  3.61
53937  3.56
53938  3.74
53939  3.64

[53940 rows x 10 columns]

In [70]:
# Punto 8 

df3 = df.drop(df.columns[[1,2]], axis = 1)

df3

       carat clarity  depth  table  price     x     y     z
0       0.23     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 8 columns]

In [71]:
# Punto 9 

df4 = df.drop([0,1,2,3,4], axis = 0)

df4

       carat        cut color clarity  depth  table  price     x     y     z
5       0.24  Very Good     J    VVS2   62.8   57.0    336  3.94   NaN  2.48
6       0.24  Very Good     I    VVS1   62.3   57.0    336  3.95  3.98  2.47
7       0.26  Very Good     H     SI1   61.9   55.0    337  4.07  4.11  2.53
8       0.22       Fair     E     VS2   65.1   61.0    337  3.87  3.78  2.49
9       0.23  Very Good     H     VS1   59.4   61.0    338  4.00  4.05  2.39
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53935 rows x 10 columns]

In [73]:
# Punto 10 

df.cut.sort_values

type(df.cut.sort_values)

# Es un mÃ©todo

method

In [11]:
# Punto 11 

df.sort_values(by = 'carat', ascending=False)

       carat      cut color clarity  depth  table  price      x      y     z
27415   5.01     Fair     J      I1   65.5   59.0  18018  10.74  10.54  6.98
27630   4.50     Fair     J      I1   65.8   58.0  18531  10.23  10.16  6.72
27130   4.13     Fair     H      I1   64.8   61.0  17329  10.00   9.85  6.43
25999   4.01  Premium     J      I1   62.5   62.0  15223  10.02   9.94  6.24
25998   4.01  Premium     I      I1   61.0   61.0  15223  10.14  10.10  6.17
...      ...      ...   ...     ...    ...    ...    ...    ...    ...   ...
31592   0.20  Premium     E     VS2   59.0   60.0    367   3.81   3.78  2.24
31591   0.20  Premium     E     VS2   59.8   62.0    367   3.79   3.77  2.26
31601   0.20  Premium     D     VS2   61.7   60.0    367   3.77   3.72  2.31
14      0.20  Premium     E     SI2   60.2   62.0    345   3.79   3.75  2.27
31596   0.20  Premium     F     VS2   62.6   59.0    367   3.73   3.71  2.33

[53940 rows x 10 columns]

In [19]:
# Punto 12

# Filtramos las filas en las que x>5, y>5 y z>5

df[(df.x > 5) & (df.y>5) & (df.z>5)]

       carat        cut color clarity  depth  table  price     x      y      z
11778   1.83       Fair     J      I1   70.0   58.0   5083  7.34   7.28   5.12
13002   2.14       Fair     J      I1   69.4   57.0   5405  7.74   7.70   5.36
13118   2.15       Fair     J      I1   65.5   57.0   5430  8.01   7.95   5.23
13562   1.96       Fair     F      I1   66.6   60.0   5554  7.59   7.56   5.04
13757   2.22       Fair     J      I1   66.7   56.0   5607  8.04   8.02   5.36
...      ...        ...   ...     ...    ...    ...    ...   ...    ...    ...
27748   2.00  Very Good     G     SI1   63.5   56.0  18818  7.90   7.97   5.04
27749   2.29    Premium     I     VS2   60.8   60.0  18823  8.50   8.47   5.16
48410   0.51  Very Good     E     VS1   61.8   54.7   1970  5.12   5.15  31.80
49189   0.51      Ideal     E     VS1   61.8   55.0   2075  5.15  31.80   5.12
49905   0.50  Very Good     G    VVS1   63.7   58.0   2180  5.01   5.04   5.06

[1457 rows x 10 columns]

In [22]:
# Punto 13- FALTA


for x in df.carat:
    continue

In [27]:
# Punto 14

df[(df.cut == 'Premium') | (df.cut == 'Ideal')]

       carat      cut color clarity  depth  table  price     x     y     z
0       0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
3       0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
11      0.23    Ideal     J     VS1   62.8   56.0    340  3.93  3.90  2.46
12      0.22  Premium     F     SI1   60.4   61.0    342  3.88  3.84  2.33
...      ...      ...   ...     ...    ...    ...    ...   ...   ...   ...
53931   0.71  Premium     F     SI1   59.8   62.0   2756  5.74  5.73  3.43
53934   0.72  Premium     D     SI1   62.7   59.0   2757  5.69  5.73  3.58
53935   0.72    Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53938   0.86  Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75    Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[35342 rows x 10 columns]

In [34]:
# Punto 15

df['carat'].describe()

count    53940.000000
mean         0.797940
std          0.474011
min          0.200000
25%          0.400000
50%          0.700000
75%          1.040000
max          5.010000
Name: carat, dtype: float64

In [37]:
# Punto 16

df.mean(, numeric_)

pandas.core.series.Series